body div p, ul, li {
    padding: 0;
    margin: 0;
    font-family: "\5FAE\8F6F\96C5\9ED1", Helvetica, sans-serif;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.main {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -320px;
    margin-top: -503px;
    width: 640px;
    height: 1006px;
}

.sound {
    position: absolute;
    width: 60px;
    height: 60px;
    right: 10%;
    top: 4%;
    z-index: 200;
    background: url("images/normalmusic.png") no-repeat;
    background-size: contain;
    -webkit-animation: sound 1s linear infinite;
    animation: sound 1s linear infinite;
}

@-webkit-keyframes sound {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.toTop {
    position: absolute;
    left: 50%;
    bottom: 5%;
    z-index: 300;
    margin-left: -30px;
    width: 40px;
    height: 40px;
    opacity: 0.5;
    -webkit-transform: rotate(90deg);
    -webkit-animation: tran 1s ease-out infinite;
    transform: rotate(90deg);
    animation: tran 1s ease-out infinite;

}

@-webkit-keyframes tran {
    0%, 100% {
        -webkit-transform: translate(0, 0) rotate(90deg);
        transform: translate(0, 0) rotate(90deg);
        opacity: 0.1;
    }
    50% {
        -webkit-transform: translate(0, 50px) rotate(90deg);
        transform: translate(0, 50px) rotate(90deg);
        opacity: 0.5;
    }
}

.toTop span {
    display: block;
    background: #FFFFFF;
    width: 20px;
    height: 8px;
    border-radius: 3px;
}

.toTop span:nth-child(1) {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.toTop span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

@-webkit-keyframes sound {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.list li.zIndex {
    z-index: 100;
}

.list li {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
}

.list li:nth-child(1) {
    background: #000;
}

.list li:nth-child(2) {
    background: #96a6e3;
    background-size: cover;
}

.list li:nth-child(3) {
    background: url("images/3.jpg") no-repeat;
    background-size: cover;
}

.list li:nth-child(4) {
    background: url("images/bg4.jpg") no-repeat;
}

.next1 .bg-round {
    position: absolute;
    left: 50%;
    top: 25%;
    margin-left: -210px;
    width: 420px;
    height: 420px;
    background: url("images/bg_round.png") no-repeat;
    background-size: cover;
    -webkit-animation: bg-round 1.5s linear infinite;
    animation: bg-round 1.5s linear infinite;
}

@-webkit-keyframes bg-round {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.next1 {
    width: 100%;
    height: 100%;
}

.next1 .bg-top {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -190px;
    width: 300px;;
    height: 300px;
    border-radius: 50%;
    background: url("images/photo.png") no-repeat;
    background-size: cover
}

.next1 .title {
    width: 78%;
    margin: 12%;
    background: #000;
}

.next1 .title-top {
    position: absolute;
    width: 100%;
    height: 22%;
    background: #000;
   /* -webkit-transition: width 1s linear 2s;
    transition: width 1s linear  2s;*/
}
#next1 .title-top{
    width: 0;
}
.next1 .title span {
    display: block;
    width: 18%;
    height: 90px;
    margin: 0 3%;
    float: left;
    background-size: cover;
    -webkit-transition: 0.1s linear;
    transition: 0.1s linear;;
}

.next1 .title span:nth-child(1) {
    background: url("images/ge.png") no-repeat;
}

.next1 .title span:nth-child(2) {
    background: url("images/ren.png") no-repeat;
}

.next1 .title span:nth-child(3) {
    background: url("images/jian.png") no-repeat;
}

.next1 .title span:nth-child(4) {
    background: url("images/li.png") no-repeat;
}

.next1 .bot {
    position: absolute;
    bottom: 13%;
    left: 50%;
    margin-left: -30%;
    width: 60%;
    height: 11%;
    background: url("images/mx.png") no-repeat;
    background-size: contain;
}

.next2 .title {
    width: 231px;
    height: 114px;
    margin: 10% auto 0;
    background: url("images/skill.png") no-repeat;
    background-size: 100%;
}

.next2 p {
    color: #fff;
    font-size: 30px;
    text-align: center;
    line-height: 30px;
}

.next2 .center {
    position: absolute;
    left: 50%;
    top: 58%;
    margin-top: -200px;
    margin-left: -200px;
    width: 400px;
    height: 400px;
    background: url("images/scbg.png") no-repeat;
    background-size: 100%;
    -webkit-transition: 1s;
    transition: 1s;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.next2 p {
    position: absolute;
    left: 40%;
    top: 52%;
    width: 110px;
    height: 100px;
    border-radius: 50%;
    padding: 30px 10px 0;
    opacity: 0;
    border: 8px solid rgba(255, 255, 255, 0.5);
    -webkit-transition: 1s;
    transition: 1s;
}

#next2 .center {
    -webkit-transform: scale(1);
    transform: scale(1);
}

#next2 p:nth-of-type(1) {
    left: 24%;
    top: 30%;
    background: #0044DD;
    opacity: 1;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

#next2 p {
    opacity: 1;
    -webkit-transform: rotate(360deg);
    -webkit-transition: 1s ease-in-out;
}

#next2 p:nth-of-type(2) {
    left: 10%;
    top: 48%;
    background: #fadb4e;
}

#next2 p:nth-of-type(3) {
    left: 71%;
    top: 48%;
    background: #e9322d;
}

#next2 p:nth-of-type(4) {
    left: 21%;
    top: 68%;
    background: #aa00aa;
}

#next2 p:nth-of-type(5) {
    left: 59%;
    top: 68%;
    background: #37C7D4;
}

#next2 p:nth-of-type(6) {
    left: 58%;
    top: 30%;
    background: #37C7D4;
}

.next3 li {
    width: 200px;
    height: 300px;
    float: left;
}

.next3 {
    margin: 32% 5% 0 5%;
    line-height: 48px;
    font-weight: bold;
}

.next3 div:nth-child(1) {
    position: absolute;
    width: 100%;
    margin-top: -22%;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    color: #8fc120;
}

.next3 p {
    margin: 4% 6% 4% 28%;
    color: #fff;
    font-size: 26px;
    padding: 3%;
    opacity: 0;
    height: 62px;
    line-height: 62px;
    -webkit-transition: 0.5s;
}

.next3 p:nth-child(2n) {
    -webkit-transform: translate(-500px, 0);
}

.next3 p:nth-child(2n+1) {
    -webkit-transform: translate(500px, 0);
}

#next3 p {
    -webkit-transform: translate(0, 0);
    opacity: 1;
}

.next3 p span {
    display: block;
    margin-left: -35%;
    margin-top: 1%;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    float: left;
    color: #fff;
    -webkit-transform: rotate(45deg);
}

.next3 p:nth-child(2) {
    color: #24b9c6;
}

.next3 p:nth-child(2) span {
    background: #24b9c6;
}

#next3 p span em {
    display: block;
    -webkit-transform: rotate(-45deg);
    border-radius: 2px;
}

.next3 p:nth-child(3) {
    color: #f44e62;
}

.next3 p:nth-child(3) span {
    background: #f44e62;
}

.next3 p:nth-child(4) {
    color: #4d73ab;
}

.next3 p:nth-child(4) span {
    background: #4d73ab;
}

.next3 p:nth-child(5) {
    color: #ff5a00;
}

.next3 p:nth-child(5) span {
    background: #ff5a00;
}

.next3 p:nth-child(6) {
    color: #7b4dab;
}

.next3 p:nth-child(6) span {
    background: #7b4dab;
}

.next3 p:nth-child(7) {
    color: #ab4da3;
}

.next3 p:nth-child(7) span {
    background: #ab4da3;
}

.next4 {
    width: 100%;
    height: 100%;
}

.next4 p:nth-child(1) {
    width: 60%;
    height: 20%;;
    margin-left: 20%;
    margin-top: 20%;
    background: url("images/kh.png") no-repeat;
    background-size: contain;
    transform: translate(0, 0) rotate(0deg);
    opacity: 0;
}

#next4 p:nth-child(1) {
    -webkit-animation: kh-animation 1s ease-in;
    animation: kh-animation 0.5s linear 0s;
    transition: 1s;
    opacity: 1;
}

@-webkit-keyframes kh-animation {
    0% {
        -webkit-transform: translate(-150%, -150%) rotate(90deg);
        transform: translate(-150%, -150%) rotate(90deg);
    }
    50% {
        -webkit-transform: translate(-70%, -70%) rotate(180deg);
        transform: translate(-70%, -70%) rotate(180deg);
    }
    100% {
        -webkit-transform: translate(0, 0) rotate(360deg);
        transform: translate(0, 0) rotate(360deg);
    }
}

.next4 p:nth-child(2) {
    width: 280px;
    height: 280px;
    margin: 10% auto 0;
    background: url("images/sys.png") no-repeat;
    background-size: contain;
}

.next4 p:nth-child(3) {
    text-align: center;
    font-size: 30px;
    color: #fff;
    margin: 4% 0;
    opacity: 0;
    -webkit-transition: opacity 1s linear 1s;
    transition: opacity 1s linear 1s;
}

#next4 p:nth-child(3) {
    opacity: 1;
}

.next4 .xn {
    margin-top: 150px;
    text-align: center;
    font-size: 24px;
    color: #fff;
    opacity: 0;
}

.next4 .xn {
    -webkit-transition: all 1s linear 2s;
    transition: all 1s linear 2s;
}

#next4 .xn {
    opacity: 0.5;
    margin-top: 15px;
}













