body div p, ul, li {
    padding: 0;
    margin: 0;
    font-family: "\5FAE\8F6F\96C5\9ED1", Helvetica, sans-serif;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.main {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -320px;
    margin-top: -503px;
    width: 640px;
    height: 1006px;
}

.sound {
    position: absolute;
    width: 60px;
    height: 60px;
    right: 7%;
    top: 3%;
    z-index: 200;
    background: url("images/normalmusic.png") no-repeat;
    animation: sound 1s linear infinite;
}

.toTop {
    position: absolute;
    left: 50%;
    bottom: 4%;
    z-index: 300;
    margin-left: -30px;
    width: 40px;
    height: 40px;
    transform: rotate(90deg);
    opacity: 0.5;
    animation: tran 1s ease-out infinite;
}

@-webkit-keyframes tran {
    0%, 100% {
        transform: translate(0, 0) rotate(90deg);
        opacity: 0.1;
    }
    50% {
        transform: translate(0, 50px) rotate(90deg);
        opacity: 0.5;
    }
}

.toTop span {
    display: block;
    background: #FFFFFF;
    width: 20px;
    height: 8px;
    border-radius: 3px;
}

.toTop span:nth-child(1) {
    transform: rotate(-45deg);
}

.toTop span:nth-child(2) {
    transform: rotate(45deg);
}

@-webkit-keyframes sound {
    100% {
        transform: rotate(360deg);
    }
}

.loadBg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 15;
    width: 100%;
    height: 100%;
    background: #000;
    transition: 1s ease-out;
}

.loadBg .loading {
    width: 70%;
    margin: 65% 15% 0 15%;
    height: 30px;
    border-radius: 30px;
    background: #FFFFFF;
    color: #00A5FF;
    overflow: hidden;
}

.loadBg .loading span {
    display: block;
    width: 0;
    height: 30px;
    background: -webkit-linear-gradient(45deg, #37C7D4 25%, #06bdcd 50%, #37C7D4 75%, #06bdcd 100%) repeat-x;
    background-size: 40px 40px;
    -webkit-transition: 1s;
}

.about {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.about .title {
    position: absolute;
    left: 50%;
    top: 10%;
    width: 314px;
    height: 114px;
    margin-left: -157px;
    background: url("images/title.png") no-repeat;
    background-size: 100%;
    opacity: 0;
    -webkit-transition: 1s;
    -webkit-transform: translate(0, -100px);
}

.about .pic {
    position: absolute;
    left: 50%;
    top: 27%;
    width: 263px;
    height: 263px;
    margin-left: -131px;
    background: url("images/pic.png") no-repeat;
    background-size: 100%;
}

.about .content {
    position: absolute;
    top: 55%;
    left: 50%;
    width: 74%;
    height: 15%;
    padding: 2%;
    margin-left: -40%;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    box-shadow: 0 0 7px rgba(225, 225, 225, 0.7);
    opacity: 0;
    -webkit-transition: 1s;
}

.about .content p {
    font-size: 28px;
    line-height: 46px;
    padding-left: 5%;
    color: #fff;
    -webkit-transition: 1s;
}

.about .content p:nth-child(2n) {
    -webkit-transform: translate(-450px, 0);
}

.about .content p:nth-child(2n+1) {
    -webkit-transform: translate(450px, 0);
}

.about .bot {
    position: absolute;
    left: 50%;
    bottom: 14%;
    width: 331px;
    height: 96px;
    margin-left: -165px;
    background: url("images/bot.png") no-repeat;
    background-size: 100%;
}

.list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.list li.zIndex {
    z-index: 100;
}

.list li {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
}

.list li:nth-child(1) {
    background: url("images/2.png") no-repeat;
    background-size: cover;
}

.list li:nth-child(2) {
    background: #96a6e3;
    background-size: cover;
}

.list li:nth-child(3) {
    background:url("images/3.jpg") no-repeat;
    background-size: cover;
}

#next1 .about .title {
    opacity: 1;
    -webkit-transform: translate(0, 0);
}

#next1 .content {
    opacity: 1;
}

#next1 p {
    -webkit-transform: translate(0, 0);
}

.next2 .title {
    width: 231px;
    height: 114px;
    margin: 10% auto 0;
    background: url("images/skill.png") no-repeat;
    background-size: 100%;
}

.next2 p {
    color: #fff;
    font-size: 30px;
    text-align: center;
    line-height: 30px;
}

.next2 .center {
    position: absolute;
    left: 50%;
    top: 58%;
    margin-top: -160px;
    margin-left: -160px;
    width: 320px;
    height: 320px;
    background: url("images/list-c.gif") 46% no-repeat;
    background-size: 130%;
}

.next2 p {
    position: absolute;
    left: 50%;
    top: 58%;
    width: 110px;
    height: 100px;
    border-radius: 50%;
    padding: 30px 10px 0;
    -webkit-transition: 1s;
    opacity: 0;
}

#next2 p:nth-of-type(1) {
    left: 24%;
    top: 30%;
    background: #0044DD;
    opacity: 1;
    -webkit-transform: rotate(720deg);
}

#next2 p {
    opacity: 1;
    -webkit-transform: rotate(720deg);
    -webkit-transition: 1s ease-in-out;
}

#next2 p:nth-of-type(2) {
    left: 10%;
    top: 48%;
    background: #fadb4e;
}

#next2 p:nth-of-type(3) {
    left: 71%;
    top: 48%;
    background: #e9322d;
}

#next2 p:nth-of-type(4) {
    left: 21%;
    top: 68%;
    background: #aa00aa;
}

#next2 p:nth-of-type(5) {
    left: 59%;
    top: 68%;
    background: #37C7D4;
}

#next2 p:nth-of-type(6) {
    left: 58%;
    top: 30%;
    background: #37C7D4;
}

.next3 ul {
    margin-top: 200px;
    float: left;
}

.next3 li {
    width: 200px;
    height: 300px;
    float: left;
}

.next3 {
    margin: 32% 5% 0 5%;
    line-height: 48px;
    font-weight: bold;
}
.next3 div:nth-child(1){
    position: absolute;
    width: 100%;
    margin-top:-22%;
    font-size: 36px ;
    line-height: 36px;
    text-align: center;
    color: #8fc120;
}
.next3 p {
    margin: 4% 6% 4% 28%;
    color: #fff;
    font-size: 26px;
    padding: 3%;
    opacity: 0;
    height: 62px;
    line-height: 62px;
    -webkit-transition: 0.5s;
}

.next3 p:nth-child(2n) {
    -webkit-transform: translate(-500px, 0);
}

.next3 p:nth-child(2n+1) {
    -webkit-transform: translate(500px, 0);
}

#next3 p {
    -webkit-transform: translate(0, 0);
    opacity: 1;
}

.next3 p span {
    display: block;
    margin-left: -35%;
    margin-top: 1%;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    float: left;
    color: #fff;
    -webkit-transform: rotate(45deg);
}

.next3 p:nth-child(2){
    color: #24b9c6;
}
.next3 p:nth-child(2) span {
    background: #24b9c6;
}

#next3 p span em{
    display: block;
    -webkit-transform: rotate(-45deg);
    border-radius: 2px;
}

.next3 p:nth-child(3){
    color: #f44e62;
}
.next3 p:nth-child(3) span {
    background: #f44e62;
}

.next3 p:nth-child(4){
    color: #4d73ab;
}
.next3 p:nth-child(4) span {
    background: #4d73ab;
}
.next3 p:nth-child(5){
    color: #ff5a00;
}
.next3 p:nth-child(5) span {
    background: #ff5a00;
}

.next3 p:nth-child(6){
    color: #7b4dab;
}
.next3 p:nth-child(6) span {
    background: #7b4dab;
}
.next3 p:nth-child(7){
    color: #ab4da3;
}
.next3 p:nth-child(7) span {
    background: #ab4da3;
}




















